.advantages-number {
  position: relative;
  margin: auto;
  color: @brown;

  &::before {
    content: "";
    position: absolute;
    background-color: @brown;
    width: 9px;
    height: 1px;
    top: 10px;
    left: -15px;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: @brown;
    width: 9px;
    height: 1px;
    top: 10px;
    right: -15px;
  }
}

.advantages-number--white {
  &::before,
  &::after {
    background-color: @base-white;
  }
}
