.copyright {
  text-decoration: none;
  line-height: 26px;
  padding-top: 45px;
  padding-bottom: 26px;
  font-weight: 400;
  padding-right: 37px;
  position: relative;

  a {
    color: @base-black;
    text-decoration: none;
    position: relative;
  }

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-right: 47px;
  }
}
