.feedback {
  font-size: 18px;
  line-height: 26px;
}


.feedback__header {
  max-height: 151px;
  margin: auto;
  padding-bottom: 17px;
  margin-top: 36px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: @middle-grey;
    height: 1px;
    width: 320px;
    bottom: 0;
    left: 0;

    @media (min-width: @tablet-width) {
      display: none;
    }
  }

  @media (min-width: @tablet-width) {
    padding-top: 69px;
    padding-bottom: 40px;
    margin: auto;
  }

  @media (min-width: @desktop-width) {
    padding-top: 114px;
    padding-bottom: 32px;
  }
}

.feedback__title {
  font-size: 18px;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 30px;
  }
}

.feedback__intro {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: @brown;
  margin-top: 29px;

  @media (min-width: @tablet-width) {
    padding: 0 165px;
    margin-top: 33px;

    br {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    padding: 0 380px;
  }
}

.feedback-form {
  padding: 0 20px;
  margin-bottom: 38px;
  margin-top: 20px;

  @media (min-width: @tablet-width) {
    padding: 0 60px;
    margin-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 120px;
    margin-bottom: 66px;
    margin-top: 6px;
  }
}

.feedback-form__wrapper {
  margin: 0;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    margin: auto;
  }
}

.form__footnote {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  margin-left: auto;

  @media (max-width: @mobile-width-only) {
    display: none;
  }
}
