.visited {
  border: none;
  position: relative;
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 5px;

  @media (min-width: @tablet-width) {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 36px;

    &::after {
      content: "";
      position: absolute;
      background-color: @middle-grey;
      height: 1px;
      width: 123px;
      top: 26px;
      right: 0;
    }
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 40px;

    &::after {
      width: 280px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    background-color: @middle-grey;
    height: 1px;
    width: 320px;
    top: -18px;
    left: -20px;

    @media (min-width: @tablet-width) {
      width: 123px;
      top: 26px;
      left: 0;
    }

    @media (min-width: @desktop-width) {
      width: 280px;
    }
  }
}

.visited__title {
  font-weight: 700;
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    margin-bottom: 59px;
    font-size: 21px;
  }
}

.visited-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 80px;
  list-style: none;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 150px 150px;
    grid-row-gap: 62px;
    grid-column-gap: 110px;
    padding-left: 175px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    flex-direction: row;
    padding-left: 82px;
  }
}

.visited-list__item {
  margin-bottom: 54px;

  @media (min-width: @tablet-width) {
    display: flex;
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    &:not(:first-child) {
      margin-left: 39px;
    }
  }
}

.visited__label {
  text-transform: none;
  font-weight: 700;
  position: relative;
}

.visited-input__checkbox + .visited__label::before {
  content: "";
  position: absolute;
  background-color: @base-grey;
  height: 55px;
  width: 55px;
  top: -18px;
  left: -80px;
  border-radius: 10%;

  @media (min-width: @tablet-width) {
    top: -16px;
  }
}

.visited-input__checkbox:focus + .visited__label::before,
.visited-input__checkbox:hover + .visited__label::before {
  background-color: @light-grey;
}

.visited-input__checkbox:active + .visited__label::before {
  background-color: @base-middlegrey;
}

.visited-input__checkbox:checked + .visited__label::after {
  content: "";
  position: absolute;
  background-image: url("../../img/icon-tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  height: 50px;
  width: 50px;
  top: 2px;
  left: -63px;

  @media (min-width: @tablet-width) {
    top: 5px;
  }
}

.visited-input__checkbox:checked:active + .visited__label::after {
  opacity: 0.3;
}
