.modal__mistake {
  height: 280px;
  bottom: 35%;
  width: 320px;
  padding-top: 42px;

  @media (min-width: @tablet-width) {
    bottom: 20%;
    height: 347px;
    width: 400px;
    left: 0;
    padding-top: 0;
  }
}

.modal__title--mistake {
  br {
    display: none;
  }

  @media (min-width: @tablet-width) {
    br {
      display: block;
    }
    margin-top: 51px;
  }
}

.modal__text--mistake {
  margin-top: 29px;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    margin-top: 39px;
    margin-bottom: 27px;
    padding: 0 61px;
  }
}
