.social {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.social__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__item {
  display: flex;
  flex-wrap: wrap;
  margin-right: 6px;
  height: 48px;
  text-align: auto;
}
