.welcome {
  background: url("../img/bg-back-mobile@1x.jpg") center no-repeat;
  height: 389px;
  margin: 0;
  padding: 0;
}

.welcome__wrapper {
  padding: 90px 0;
  position: relative;
  width: 320px;
  margin: auto;

  &::after {
    content: "";
    position: absolute;
    bottom: 11px;
    left: 0;
    width: 100%;
    background: url("../../img/bg-intro-triangle-mobile.svg");
    background-repeat: no-repeat;
    height: 30px;
    background-size: cover;
    background-position: center 0;
    box-sizing: border-box;
  }
}
